# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws

# ========================
# Maven / Build
# ========================
target/
out/

# ========================
# Logs
# ========================
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Java
# ========================
*.class

# ========================
# Tomcat / Deployment
# ========================
out/artifacts/

# ========================
# Temp files
# ========================
*.tmp
*.temp

# ========================
#  Environment variables
# ========================
.env
.env.*


# ========================
# IDE misc
#file.java.swp
#This is used for:
#crash recovery and undo history
# ========================
*.swp