/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(160deg, rgba(60, 10, 80, 0.45), rgba(10, 5, 25, 0.75)),
    url("../photos/login.jpg") center / cover no-repeat;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

/* Title */
.container h2 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: purple;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}